KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/eloquenza/.Xauthority", RUN+="/bin/bash /usr/local/bin/switch-output-television"
